<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>bsong</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>AdminIndexCatController</servlet-name>
  	<servlet-class>controller.AdminIndexCatController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminIndexCatController</servlet-name>
  	<url-pattern>/admin/cat/index</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>AdminAddCatController</servlet-name>
  	<servlet-class>controller.AdminAddCatController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminAddCatController</servlet-name>
  	<url-pattern>/admin/cat/add</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>AdminDelCatController</servlet-name>
  	<servlet-class>controller.AdminDelCatController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminDelCatController</servlet-name>
  	<url-pattern>/admin/cat/del</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-name>AdminEditCatController</servlet-name>
  	<servlet-class>controller.AdminEditCatController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminEditCatController</servlet-name>
  	<url-pattern>/admin/cat/edit</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>AdminIndexSongController</servlet-name>
  	<servlet-class>controller.AdminIndexSongController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminIndexSongController</servlet-name>
  	<url-pattern>/admin/song/index</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-name>AuthLoginAppController</servlet-name>
  	<servlet-class>controller.AuthLoginAppController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AuthLoginAppController</servlet-name>
  	<url-pattern>/AccessFacebook/login-facebook</url-pattern>
  </servlet-mapping>
</web-app>