<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>bsong</display-name>
  <filter>
    <filter-name>UrlRewriteFilter</filter-name>
    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AdminIndexCatController</servlet-name>
    <servlet-class>controller.AdminIndexCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexCatController</servlet-name>
    <url-pattern>/admin/cat/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddCatController</servlet-name>
    <servlet-class>controller.AdminAddCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddCatController</servlet-name>
    <url-pattern>/admin/cat/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelCatController</servlet-name>
    <servlet-class>controller.AdminDelCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelCatController</servlet-name>
    <url-pattern>/admin/cat/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditCatController</servlet-name>
    <servlet-class>controller.AdminEditCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditCatController</servlet-name>
    <url-pattern>/admin/cat/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexSongController</servlet-name>
    <servlet-class>controller.AdminIndexSongController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexSongController</servlet-name>
    <url-pattern>/admin/song/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexContactsController</servlet-name>
    <servlet-class>controller.AdminIndexContactsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexContactsController</servlet-name>
    <url-pattern>/admin/contacts</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelContactController</servlet-name>
    <servlet-class>controller.AdminDelContactController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelContactController</servlet-name>
    <url-pattern>/admin/contact/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexUserController</servlet-name>
    <servlet-class>controller.AdminIndexUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexUserController</servlet-name>
    <url-pattern>/admin/user/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddUserController</servlet-name>
    <servlet-class>controller.AdminAddUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddUserController</servlet-name>
    <url-pattern>/admin/user/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditUserController</servlet-name>
    <servlet-class>controller.AdminEditUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditUserController</servlet-name>
    <url-pattern>/admin/user/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelUserController</servlet-name>
    <servlet-class>controller.AdminDelUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelUserController</servlet-name>
    <url-pattern>/admin/user/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddSongController</servlet-name>
    <servlet-class>controller.AdminAddSongController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddSongController</servlet-name>
    <url-pattern>/admin/song/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelSongController</servlet-name>
    <servlet-class>controller.AdminDelSongController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelSongController</servlet-name>
    <url-pattern>/admin/song/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditSongController</servlet-name>
    <servlet-class>controller.AdminEditSongController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditSongController</servlet-name>
    <url-pattern>/admin/song/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicIndexController</servlet-name>
    <servlet-class>controller.PublicIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicIndexController</servlet-name>
    <url-pattern>/public/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicCatController</servlet-name>
    <servlet-class>controller.PublicCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicCatController</servlet-name>
    <url-pattern>/public/cat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicDetailController</servlet-name>
    <servlet-class>controller.PublicDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicDetailController</servlet-name>
    <url-pattern>/public/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicNotFoundController</servlet-name>
    <servlet-class>controller.PublicNotFoundController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicNotFoundController</servlet-name>
    <url-pattern>/public/404</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicContactController</servlet-name>
    <servlet-class>controller.PublicContactController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicContactController</servlet-name>
    <url-pattern>/contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexController</servlet-name>
    <servlet-class>controller.AdminIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexController</servlet-name>
    <url-pattern>/admin/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AuthLoginController</servlet-name>
    <servlet-class>controller.AuthLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthLoginController</servlet-name>
    <url-pattern>/auth/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AuthLogoutController</servlet-name>
    <servlet-class>controller.AuthLogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthLogoutController</servlet-name>
    <url-pattern>/auth/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AuthSignupController</servlet-name>
    <servlet-class>controller.AuthSignupController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthSignupController</servlet-name>
    <url-pattern>/auth/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminSearchCatController</servlet-name>
    <servlet-class>controller.AdminSearchCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSearchCatController</servlet-name>
    <url-pattern>/admin/cat/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminSearchSongController</servlet-name>
    <servlet-class>controller.AdminSearchSongController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSearchSongController</servlet-name>
    <url-pattern>/admin/song/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicCommentController</servlet-name>
    <servlet-class>controller.PublicCommentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicCommentController</servlet-name>
    <url-pattern>/public/detail/cmt</url-pattern>
  </servlet-mapping>
</web-app>